body {
  background-color: #222930;
  color: #4EB1BA;

}

#catch {
  font-size: 100px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: auto;
  min-width: 100%;

  text-align: center;
}